In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load the data
data_credit = pd.read_csv('data/credit_risk.csv')
data_credit

,default_label,age,gender,edu,housing,income,job_occupation,past_bad_credit,married
0,0,45,0,2,0,8756.330191,0,1,1
1,0,33,1,1,1,4762.472193,1,1,0
2,0,21,0,3,0,10944.838300,0,1,0
3,0,64,0,2,1,3957.592804,2,1,1
4,0,33,0,3,1,17820.791010,1,1,0
...,...,...,...,...,...,...,...,...,...
14257,0,51,0,3,1,20134.457820,1,1,0
14258,0,45,1,2,1,2958.211503,0,1,0
14259,0,62,0,2,1,5049.515702,0,1,0
14260,1,31,0,1,0,11720.337990,0,1,0
14261,0,28,0,0,0,6930.916213,0,1,1